# pip install -r requirements.txt

# YOLOv8 --------------------------------------
ultralytics

# Streamlit -----------------------------------
streamlit
streamlit_autorefresh
streamlit_webrtc


# Base ----------------------------------------


av
numpy
opencv-python-headless
stqdm

numpy
stqdm
deep-sort-realtime

#setuptools

# Extras --- for tts
ibm_cloud_sdk_core==3.15.3
ibm_watson==6.0.0

torch
intel-extension-for-pytorch 
openvino
gdown
